body{
    margin: 0;
    background-color: lightgray;
    text-align: center;
    
}

li{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.o{
    border: 1px red solid;
}